table {
  width: 100%;
  margin: $small-spacing 0 0;

  table-layout: fixed;
  border-collapse: collapse;

  border: 1px solid $gray-dark;
  thead {
    color: #fff;
    background: $black;
  }
  th,
  td {
    position: relative;
  }
  th {
    font-weight: 600;
    font-weight: bold;

    padding: $small-spacing 10px;

    text-align: center;
  }
  td {
    padding: $small-spacing 10px;

    color: $gray-medium;
  }
}
tr,
td,
th {
  vertical-align: middle;
}
tr {
  &:nth-child(odd) {
    background-color: $gray-dark;
  }
}
